/*  
    Xinyi Wang & Yuchen Wang
    01/14/18
    Style for all of the articles
*/

#maincontent {
    text-align: left;
    line-height: 1.5em;
    margin: 3em;
    margin-top: 1em;
    margin-bottom: 2em;
}

#maincontent h1, #maincontent h2, .subtitle-s {
    text-align: center;
}

#maincontent h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

#maincontent h2 {
    font-size: 1em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

#maincontent h3 {
    color: #3c2f2f;
    font-size: 0.8em;
}

#maincontent p, #maincontent li {
    font-size: 0.7em;
    font-weight: normal;
}

ul {
    padding-left: 1em;
}

.ul_independent {
    margin-top: 1em;
}

.introtext p {
    text-indent: 2em;
}

#maincontent .pic-m {
    width: 20em;
    height: auto;
}

#maincontent .pic-s {
    width: 10em;
    height: auto;
}

.introtext, .highlight, .types {
    margin-bottom: 3em;
}

.product p {
    font-weight: 300 !important;
    line-height: 1.2em;
    margin-left: 2em;
    margin-bottom: 0.5em;
    text-indent: -2em;
}

.product>div>h3 {
    text-align: center;
    line-height: 1.3em;
}

.break {
    display: none;
}

/* Mobile Friendly Style */
@media screen and (max-width: 1000px) {
    #maincontent {
        margin: 1.2em;
        margin-top: 0;
    }
    
    #maincontent h1 {
        font-size: 1.2em;
        margin-bottom: 1.2em;
        margin-top: 0;
    }
    
    #maincontent .pic-m {
        width: 15em;
    }
    
    .introtext {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    #maincontent h1 {
        font-size: 1em;
    }
    
    #maincontent h2 {
        margin-bottom: 1em;
    }
    
    #maincontent h3 {
        font-size: 0.8em;
    }
    
    #maincontent .pic-s {
        width: 6em;
    }
    
    #maincontent .subtitle-s {
        font-size: 0.8em;
    }
    
    .break {
        display: inline;
    }
}