/*  
    Xinyi Wang & Yuchen Wang
    01/14/18
    Product Gallery Style
*/

/* Product Gallery */
.row {
    margin: 50px;
    margin-top: 20px;
}

.col-md-2 {
    width: 20%;
}

.thumbnail {
    display: block;
    padding: 5px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: nowrap;
}

/* ice wine page */
.col-md-2 .thumbnail {
    height: 16em;
}

/* red wine and white wine page */
.col-md-3 .thumbnail {
    height: 15em;
}

/* food gallery */
.col-md-4 .thumbnail {
    height: 13em;
}

.thumbnail:hover {
    box-shadow: -5px 0px 10px #e5d7ca, 5px 0px 10px #e5d7ca, 0px -5px 10px #e5d7ca, 0px 5px 10px #e5d7ca;
}

.product-img {
    height: 9em !important;
    max-width: 100%;
}

.product-info {
    cursor: pointer;
}

.product-info .product-caption {
    color: black;
    font-size: 0.6em;
}

.product-name-caption {
    font-weight: 400;
}

.product-price-caption {
    color: #7f4d00;
    font-weight: 400;
}

.product-info a {
    text-decoration: none;
}

.product-info a>.product-caption {
    font-size: 0.8em;
}

.product-info a img {
    margin-top: 0.4em;
}

/* Modal Box */
.modal {
    overflow-y: scroll;
}

/* remove scroll bar */
.modal::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* faded background */
.modal-backdrop {
    background-color: black;
    opacity: 0.85 !important;
}

/* disable background when modal is open */
.modal-open {
    overflow: hidden;
    position: absolute;
}

/* modal style */
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 90%;
}

.modal-open .modal {
    padding：0；
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-header button:last-child {
  margin-left: auto;
}

.modal-body {
    display: flex;
    flex-direction: row;
}

.info-body {
    margin-right: 5%;
}

.info-body .info-title {
    margin-bottom: 2%;
}

.info-body .info-title, .info-body .info-engl {
    color: #3c2f2f;
}

.info-body .info-engl {
    font-weight: 400;
    line-height: 1em;
}

.info-body .subinfo {
    line-height: 1.8em;
    margin-bottom: 0px;
}

.info-body .info-description {
    color: #4b3832;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 1%;
    margin-top: 5%;
    line-height: 2em;
}

.info-body .subinfo, .info-body .info-description {
    font-size: 0.7em;
}

.info-body .info-special {
    color: #854442;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.5em;
}

.info-body .info-price {
    font-size: 0.9em;
    line-height: 1.6em;
}

.info-body .info-price .retail, .info-body .info-price .group {
    color: #cc7b00;
}

.info-body .info-price .retail-price, .info-body .info-price .group-price {
    color: #995c00;
    font-weight: 400;
}

.info-img {
    height: 20em;
    margin-left: 10%;
    margin-right: 5%;
}

.modalred .info-img, .modalwhite .info-img {
    margin-left: 0;
    margin-right: 0;
}

.modal-footer button {
    background-color: #4b3832;
    border-color: #4b3832;
    color: #fff4e6;
    outline: none;
}

.modal-footer button:hover {
    background-color: #854442;
    border-color: #854442;
    color: #fff4e6;
}

.modal-footer button:hover:active {
    background-color: #e5e6eb;
    border-color: #e5e6eb;
    color: #4b3832;
    font-weight: bold;
    box-shadow: none;
}

/* animation style for popup window */
.fade {
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

/* Mobile Friendly Style */
@media screen and (max-width: 1000px) {
    #productlist {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    .row:before {
        content: none;
    }
    
    .col-md-2, .col-md-3, .col-md-4 {
        width: 100%;
    }

    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
    
    .modal-body {
        display: flex;
        flex-direction: column;
    }
    
    .info-img {
        margin: auto !important;
        width: 30%;
        height: auto;
    }
    
    .info-body {
        margin-left: 5%;
    }
    
    .info-title {
        font-size: 0.9em;
    }
    
    .info-body .info-engl {
        font-size: 0.6em !important;
        font-weight: 300;
        line-height: 1em;
        margin-bottom: 0;
    }
    
    .info-body .info-price {
        font-size: 0.7em;
        line-height: 1.2em;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }
    
    .info-body .info-special {
        font-size: 0.7em;
    }
    
    .info-body .info-description {
        line-height: 1.3em;
    }
    
    .info-body .subinfo {
        line-height: 1.3em;
    }
}

@media screen and (max-width: 600px) {
    #productlist {
        margin-left: 3px;
        margin-right: 3px;
    }

    .col-md-3 .thumbnail {
        height: 12em;
    }
    
    .col-md-4 .thumbnail {
        height: 90%;
    }
    
    .col-md-3 .product-img, .col-md-4 .product-img {
        height: 10% !important;
        width: 100%;
    }
    
    .info-img {
        width: 80%;
    }
    
    .product-info a>.product-caption {
        font-size: 0.6em;
    }
}
