/*  
    Xinyi Wang & Yuchen Wang
    01/14/18
    Product Gallery Style
*/

/* Product Gallery */
.row {
    margin: 50px;
    margin-top: 20px;
}

.col-md-2 {
    width: 20%;
}

.thumbnail {
    display: block;
    padding: 5px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: nowrap;
    height: 13em;
}

.thumbnail:hover {
    box-shadow: -5px 0px 10px #e5d7ca, 5px 0px 10px #e5d7ca, 0px -5px 10px #e5d7ca, 0px 5px 10px #e5d7ca;
}

.product-img {
    height: 9em !important;
    max-width: 100%;
}

.product-info {
    cursor: pointer;
}

.product-info .product-caption {
    color: black;
    font-size: 0.6em;
}

.product-info a {
    text-decoration: none;
}

.product-info a>.product-caption {
    font-size: 0.8em;
}

.product-info a img {
    margin-top: 0.4em;
}

/* Modal Box */
.modal {
    overflow-y: scroll;
}

/* remove scroll bar */
.modal::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* faded background */
.modal-backdrop {
    background-color: black;
    opacity: 0.7 !important;
}

/* disable background when modal is open */
.modal-open {
    overflow: hidden;
    position: absolute;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 80%;
}

.modal-body {
    display: flex;
    flex-direction: row;
}

.info-body {
    margin-right: 5%;
}

.info-body .info-title {
    margin-bottom: 2%;
}

.info-body .info-title, .info-body .info-engl {
    color: #3c2f2f;
}

.info-body .info-engl {
    font-weight: 400;
    line-height: 2em;
}

.info-body .subinfo {
    line-height: 1.8em;
    margin-bottom: 0px;
}

.info-body .info-description {
    color: #4b3832;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 1%;
    margin-top: 5%;
    line-height: 2em;
}

.info-body .subinfo, .info-body .info-description {
    font-size: 0.7em;
}

.info-body .info-special {
    color: #854442;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.5em;
}

.info-img {
    height: 20em;
    margin-left: 10%;
    margin-right: 5%;
}

.modalred .info-img, .modalwhite .info-img {
    margin-left: 0;
    margin-right: 0;
}

.modal-footer button {
    background-color: #4b3832;
    border-color: #4b3832;
    color: #fff4e6;
    outline: none;
}

.modal-footer button:hover {
    background-color: #854442;
    border-color: #854442;
    color: #fff4e6;
}

.modal-footer button:hover:active {
    background-color: #e5e6eb;
    border-color: #e5e6eb;
    color: #4b3832;
    font-weight: bold;
    box-shadow: none;
}

/* animation style for popup window */
.fade {
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

/* Mobile Friendly Style */
@media screen and (max-width: 1000px) {
    #productlist {
        /*display: -webkit-box;*/
        /*display: -moz-box;*/
        /*display: -ms-flexbox;*/
        /*display: -webkit-flex;*/
        /*display: flexbox;*/
        /*display: flex;*/
        
        /*-webkit-flex-flow: row wrap;*/
        /*-moz-flex-flow: row wrap;*/
        /*-ms-flex-flow: row wrap;*/
        /*flex-flow: row wrap;*/
        /*-webkit-align-content: flex-start;*/
        /*-moz-align-content: flex-start;*/
        /*-ms-align-content: flex-start;*/
        /*align-content: flex-start;*/
        /*-webkit-justify-content: center;*/
        /*-moz-justify-content: center;*/
        /*-ms-justify-content: center;*/
        /*justify-content: center;*/

    }
    
    .col-md-2, .col-md-3 {
        display: inline-grid;
        width: 50%;
    }

    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
    
    .modal-body {
        display: flex;
        flex-direction: column;
    }
    
    .info-img {
        margin: auto !important;
        width: 30%;
        height: auto;
    }
    
    .info-body {
        margin-left: 5%;
    }
    
    .info-title {
        font-size: 0.8em;
    }
    
    .info-body .info-engl {
        font-size: 0.6em !important;
        font-weight: 300;
        line-height: 1em;
        margin-bottom: 0;
    }
    
    .info-body .info-engl {
        font-size: 0.8em;
    }
    
    .info-body .info-special {
        font-size: 0.7em;
    }
    
    .info-body .info-description {
        line-height: 1.3em;
    }
    
    .info-body .subinfo {
        line-height: 1.3em;
    }
}

@media screen and (max-width: 600px) {
    #productlist {
        margin-left: 3px;
        margin-right: 3px;
    }
    
    .col-md-2 {
        width: 45%;
    }
    
    .col-md-3 {
        width: 50%;
    }
    
    .col-md-3 .thumbnail {
        height: auto;
    }
    
    .col-md-3 .product-img {
        height: 10% !important;
        width: 100%;
    }
    
    .info-img {
        width: 40%;
    }
}
