/*  
    Xinyi Wang & Yuchen Wang
    01/14/18
    Style for headers on product pages
*/

.jumbotron h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

/* Mobile Friendly Style */
@media screen and (max-width: 1000px) {
    .jumbotron h1 {
        font-size: 1.2em;
        margin-bottom: 1.2em;
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    .jumbotron h1 {
        font-size: 1em;
    }
}