/*  
    Xinyi Wang & Yuchen Wang
    01/14/18
    Product: Ice Wine
*/

/* Product Gallery */
.row {
    margin: 50px;
    margin-top: 20px;
}

.thumbnail {
    display: block;
    padding: 5px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: scroll;
    height: 13em;
}

.thumbnail a img {
    height: 90%;
}

.caption {
    height: 10%;
}

.caption p {
    font-size: 80%;
}