/*
    Xinyi Wang & Yuchen Wang
    01/14/18
    Company Introduction Page
*/

#maincontent {
    margin-top: 0; 
}

#maincontent img {
    display: block;
    margin: auto;
}

#maincontent>p {
    text-indent: 2em;
}

#logo_and_slogan {
    background-color: #fffbf7;
    border-radius: 15px;
    margin-bottom: 1em;
    padding: 1.5em;
}

#logo {
    width: 300px;
    height: 300px;
}

#slogan {
    text-align: center;
}

#flag {
    width: 60px;
    height: auto;
    margin-top: 1em !important;
    margin-bottom: 1.2em !important;
}

.break {
    display: none;
}

#footer {
    padding: 0;
    margin: 0;
}

#footer p {
    color: #be9b7b;
    font-size: 0.4em;
    float: right;
    margin: 0;
}

#footer a {
    text-decoration: underline;
}

#footer a, #footer a:visited {
    color: #938784;
}

/* Desktop Style */
@media screen and (min-width: 768px) {
    #logo_and_slogan {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
    }
}

/* Mobile Friendly Style */
@media screen and (max-width: 767px) {
    #logo_and_slogan {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    #logo {
        margin-bottom: 1.3em !important;
        width: 200px;
        height: 200px;
    }
    
    .break {
        display: inline;
    }
    
    #slogan p {
        margin-bottom: 0.5em;
    }
}