/*  
    Xinyi Wang & Yuchen Wang
    01/14/18
    Style for all food pages
*/

h4 {
    color: #7f4d00;
    font-size: 0.7em;
    text-align: center;
}

.pic-m {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.group-img {
    display: grid;
    float: right;
    margin-left: 1em;
    grid-gap: 0.5em;
    grid-template-columns: 1fr 1fr;
}

.types {
    background: white;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: -5px 0px 10px #e5d7ca, 5px 0px 10px #e5d7ca, 0px -5px 10px #e5d7ca, 0px 5px 10px #e5d7ca;
}

.product {
    display: grid;
    grid-column-gap: 0.5em;
    grid-row-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 1.5em;
    margin-right: 1em;
}

.product-img {
    margin: auto;
    height: auto;
    width: 60%;
}

/* img within tips */
.tip>img {
    float: right;
    margin-left: 1em;
}

/* Mobile Friendly Style */
@media screen and (max-width: 1000px) {
    .group-img {
        float: none;
        margin: auto;
        margin-left: 3em;
        margin-right: 3em;
    }
    
    .group-img img {
        margin: auto;
    }
    
    .product {
        grid-template-columns: 1fr 1fr;
    }
    
    .product-img {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    .group-img {
        margin-left: 0;
        margin-right: 0;
    }
    
    .product {
        grid-row-gap: 0.5em;
    }
    
    .pic-m {
        float: none;
        margin-right: 0;
        margin-left: 0;
        width: 100% !important;
    }
    
    .product {
        grid-template-columns: 5em 1fr;
        margin-right: 0.3em;
    }
    
    .product-img {
        width: 80%;
    }
    
    .highlight img {
        width: 18em !important;
    }
    
    /* change the space between two prices to a line break */
    h4 span {
        display: block;
        padding: 0.2em !important;
    }
}